[submodule "LogicStack-LeetCode"]
	path = LogicStack-LeetCode
	url = https://github.com/SharingSource/LogicStack-LeetCode.git
[submodule "ACM-template"]
	path = ACM-template
	url = https://github.com/Strive-for-excellence/ACM-template.git
[submodule "algorithm-stone"]
	path = algorithm-stone
	url = https://github.com/acm-clan/algorithm-stone.git
[submodule "ACM-Code-Library"]
	path = ACM-Code-Library
	url = https://github.com/4thcalabash/ACM-Code-Library.git
